.App {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  position: relative;
  min-height: 100vh;
}
.active {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:link,
a:visited,
a:active {
  text-decoration: underline dotted;
  color: black;
}
a:hover {
  color: #8648ea;
}
